<app-tab-header></app-tab-header>

<br>
<div 
  fxLayout="row wrap" 
  fxLayout.lt-sm="column" 
  fxLayoutGap="32px" 
  fxLayoutAlign="flex-start">
<ng-container *ngFor="let r of mydata">
  <mat-card class="example-card" fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{r.companyName}}</mat-card-title>
    </mat-card-header>
     <mat-card-content>
          <p>Company Type:{{r.companyType}}</p>
          <p>Location:{{r.location}}</p>
          <p>Website:{{r.website}}</p>
          <p>Category:{{r.category}}</p>
    </mat-card-content>
    
  </mat-card>
</ng-container>

</div>

<!--
<div class="company">
  <div class="company-card">
    <div class="left">
  <div class="company-img">
  <img src="../../assets/images/logo.jpg">
  </div>
</div>
<div class="right">
  <div class="company-name">
   <h2>Sodhani Biotique</h2>
  </div>
  <div class="location">
   <p>Jaipur<span>,India</span></p>
    </div>
  <div class="company-title">
   <p>Title of the company</p>
  </div>
  <div class="company-intro">
   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
  </div>
</div>
<div class="side-btn">
<div class="btn btn1">
<button>Contact Us</button>
</div>
<div class="btn btn2">
    <button>Know More</button>
  </div>
</div>
  </div>
</div>
-->