.sigu_up_form{
	width: 100%;
  height: 230px;
  padding: 10px;
}
.signup_elemnents{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.form_header{
	width: 60%;
	height: 10%;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
.form_header h2{
	margin: 0 auto;
	font-weight: 100;
}
.form_body{
	width: 100%;
	height: 70%;
}
ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
	width: 100%;
}
li{
	width: 80%;
	margin: 0 auto;
	padding: 8px;

}
ul li input{
	width: 100%;
	height: 5vh;
	border:1px solid #ccc;
	border-right: none;
	border-left: none;
	outline: none;
	font-family: Verdana;
}
.btn1{
	width: 60%;
	height: 5vh;
	margin: 0 auto;
}
.btn1 button{
	width: 100%;
	height:100%;
	border: none;


}
button{
	 font-weight: 600 !important;
	 font-family: Verdana;
	 background-color:  #02b3e4;
	 cursor: pointer;
}
.form_footer{
	width: 100%;
	height: 20%;
	display: flex;
	align-items: center;
}

.btn{
	width: 40%;
	height: 40%;
	margin: 0 auto;
}
.btn button{
	height: 100%;
	width: 100%;
	border: none;
	color: #ffffff;
	background-color: #222222;
}
select{
	width: 100%;
	height:  40px;
	border:1px solid #ccc;
	border-right: none;
	border-left: none;
	margin-top: 10px;
}
label{
	font-size: 12px;
	margin-bottom: 20px !important;
}
.forgotPassword{
  width: 28.5vh;
  height: 5%;
   margin: 0 auto;
   text-align: center;
  }
.forgotPassword a{
color: #222222;
text-decoration: none;
margin-top: 40px;
padding: 10px;
cursor: pointer;
}
