
  <section class="body">
    <div class="homepage_right_body">
      <div class="homepage_vedio">
        <video controls><embed width="420" height="315"
    src="https://www.youtube.com/embed/tgbNymZ7vqY">
    </video>
      </div>
      <div class="search_box">
        <input type="search" name="search" placeholder="Search Here" (keypress)="search($event)" [(ngModel)]="searchResult">
        <div class="search_btn">
          <a href="#"><button>Company</button></a>
          <a href="#"><button>Service</button></a>
        </div>
      </div>
      <div class="search_tabs">
        <div class="tab tab1"><a href=""><button><h4>Translation</h4></button></a></div>
        <div class="tab tab2"><a href=""><button><h4>Bussiness comm.</h4></button></a></div>
        <div class="tab tab3"><a href=""><button><h4>Logistics</h4></button></a></div>
        <div class="tab tab4"><a href=""><button><h4>content marketing</h4></button></a></div>
        <div class="tab tab5"><a href=""><button><h4>inspection</h4></button></a></div>
        <div class="tab tab2"><a href=""><button><h4>Create website</h4></button></a></div>
      </div>
      <div class="txt"><h3>B. Sercivces</h3></div>
    </div>
    </section>
