<!---
<div class="Company_profile">
  <div class="header" id="myHeader">
    <div class="header_image">
    <img src="../../assets/images/company.jpg">
    </div>
    <div class="profile_details">
      <div class="profile_image">
          <img src="../../assets/images/logo.jpg">
      </div>
      <div class="folloing">
        <h4>343 Following</h4>
        <button>Follow Us</button>
      </div>

      <div class="details">
        <div class="side-nav">
         <ul>
           <li (click)="showPage1()">About</li>
           <li (click)="showPage2()">Feeds</li>
           <li (click)="showPage3()">Product</li>
           <li (click)="showPage4()">Vedio Review</li>
           <li (click)="showPage4()">Know More</li>
         </ul>
        </div>
        <div class="details-section">
         <div class="section section1" *ngIf="tab1">

             <div class="field">
                <label>Name</label>
                <h2>Sodhani Biotique</h2>
               </div>

               <div class="field">
                  <label>Location</label>
                  <h4>Jaipur India</h4>
                 </div>
                 <div class="field">
                    <label>Email</label>
                    <h4>Sidhant@naturaldyes.in</h4>
                   </div>
                   <div class="field">
                      <label>Introduction</label>
                      <p>We at "Sodhani Biotique" are passionate about exploring the Natural way of Life; We stand for an idea of being eco-fabulous: With environment as an inspiration and nature as our guide, a way of life which is the most in harmony with our natural ecosystem.</p>
                     </div>

                     <div class="field">
                        <label>Website</label>
                         <a>naturaldyes.in</a>
                       </div>

                       <div class="field">
                          <label>Contact No.</label>
                           <a>9764323789</a>
                         </div>

                         <div class="field">
                            <label>Go Social</label>
                             <a>facebook</a>
                             <a>LinkedIn</a>
                             <a>Twitter</a>
                           </div>

         </div>
         <div class="section section2" *ngIf="tab2">
            <app-feed></app-feed>
          </div>
          <div class="section section3" *ngIf="tab3">
<div class="product">
  <div class="product-card">
    <div class="product-header">
      <div class="product-img">
        <img src="../../assets/images/product-card.jpg">
      </div>
    </div>
      <div class="product-body">
        <div class="company">
          <div class="company-img">
           <img src="../../assets/images/logo.jpg">
          </div>
          <div class="company-name">
            <p>Sodhani Biotiques</p>
          </div>
        </div>
        <div class="product-name">
          <p>Product name goes here</p>
        </div>
        <div class="location">
          <p>jaipur,<span>india</span></p>
        </div>
        <div class="description">
            <p>the short description of the product will be here to get us some idea about the product</p>
          </div>
      </div>
      <div class="product-footer">
          <div class="btn btn1">
           <button>Edit</button>
          </div>
          <div class="btn btn2">
              <button style="background-color: firebrick;">Delete</button>
          </div>
        </div>
  </div>
</div>
      </div>
            <div class="section section4" *ngIf="tab4">
                <h1>Section 4</h1>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
    <header id="wrapper">
        <div class="header_image">
            <img src="../../assets/images/company.jpg">
            </div>
    </header>
    <br>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="sidenav col-sm-3">
            <div class="side-nav">
              <nav class="nav flex-column">
                       <li (click)="showPage1()">About</li>
                       <li (click)="showPage2()">Feeds</li>
                       <li (click)="showPage3()">Product</li>
                       <li (click)="showPage4()">Vedio Review</li>
                       <li (click)="showPage4()">Know More</li>
                   </nav> 
                 </div>
          </div>
          <div class="container col-sm-6">
            <div class="content" *ngIf="tab2">
              <app-feed></app-feed>
          </div>
        </div>
        <div class="container col-sm-6">
          <div class="content" *ngIf="tab1" >
              <button type="button" class="btn btn-default btn-sm" (click)="follow(companyName)">
                  Follow
                </button>
            <div class="field">
              <label>Name</label>
              <h2>{{companyName}}</h2>
             </div>

             <div class="field">
                <label>Location</label>
                <h4>{{location}}</h4>
               </div>
               <div class="field">
                  <label>Email</label>
                  <h4>Sidhant@naturaldyes.in</h4>
                 </div>
                 <div class="field">
                    <label>Introduction</label>
                    <p>{{shortIntro}}</p>
                   </div>

                   <div class="field">
                      <label>Website</label>
                       <a>{{website}}</a>
                     </div>

                     <div class="field">
                        <label>Contact No.</label>
                         <a></a>
                       </div>

                       <div class="field">
                          <label>Go Social</label>
                           <a>facebook</a>
                           <a>LinkedIn</a>
                           <a>Twitter</a>
                         </div>
             
        </div>
      </div>
        <div class="sidenav col-sm-3"></div>
      </div>
    </div>
    </div>
      
  


          
        
