<header>
  <div class="page_header">
   <div class="header_lanuage_btn"><button (click)="gotoHomePage()">Homepage</button></div>
    <div class="search">
      <input type="search" placeholder="Search"  [(ngModel)]="searchResult">
      <button (click)="searchProduct()">Product</button>
      <button (click)="searchService()">Service</button>
    </div>
    <div class="nav_link">
      <nav>
      <div class="nav bookmark" routerLink= '/bookmark'>Bookmarks</div>
      <div class="nav login" (click) = "showUser()">User</div>
      <div class="nav help">Help</div>
    </nav>
    </div>
  </div>
</header>
