<!---
<h1 mat-dialog-title></h1>
<div mat-dialog-content>
<div class="content">
    <form [formGroup]="EditfeedForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="my-input"></label>
          <textarea name="content" id="" cols="60" rows="10" placeholder="Write Something" formControlName="content">
          </textarea>
        </div>
        <div></div>
        <input type="file" (change)="insertImage($event)" accept="image/*">
        <button class="btn btn-primary" type="submit">Post </button>
      </form>
</div>
</div>-->

<div mat-dialog-content class="postImage">
    <div id="post">
      <form [formGroup]="EditfeedForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="my-input"></label>
          <textarea name="content"  cols="50" rows="5" placeholder="Write Something" formControlName="content">
          </textarea>
        </div>
        <br>
        <input type="file" (change)="insertImage($event)" accept="image/*" >
        <button class="btn btn-primary" type="submit" >Update</button>
      </form>
    </div>
    <br>
    <div class="imagepreview">
      <img id="preview" *ngIf="imageSrc" [src]='imageSrc'/>
    </div>
   <!-- <app-post-feed (valueChange)="displayCounter($event)"></app-post-feed>-->
  </div>
  