<app-tab-header></app-tab-header>
<div class="product">
  <div class="product-card">
    <div class="product-header">
      <div class="product-img">
        <img src="../../assets/images/product-card.jpg">
      </div>
    </div>
      <div class="product-body">
        <div class="company">
          <div class="company-img">
           <img src="../../assets/images/logo.jpg">
          </div>
          <div class="company-name">
            <p>Sodhani Biotiques</p>
          </div>
        </div>
        <div class="product-name">
          <p>Product name goes here</p>
        </div>
        <div class="location">
          <p>jaipur,<span>india</span></p>
        </div>
        <div class="description">
            <p>the short description of the product will be here to get us some idea about the product</p>
          </div>
      </div>
      <div class="product-footer">
          <div class="btn btn1">
           <button>Contact</button>
          </div>
          <div class="btn btn2">
              <button>Know Us</button>
          </div>
        </div>
  </div>
</div>
