<div class="sigu_up_form">
  <div class="signup_elemnents" >
    <div class="form_header"><h2>Forgot Password</h2></div>
    <div class="form_body">
    <form >
      <ul>
      <!-- <li><input type="text" name="username" placeholder="Enter Your Name"></li> -->
      <li><input type="email" name="email" placeholder="Enter Your Email"></li>
      <li><div class="btn1"><button><a href="homepage_login.html" style="text-decoration: none; color: #fff;">SEND ME MAIL</a></button></div></li>
    </ul>
  </form>
  </div>
  </div>
  </div>


