header{
	width: 100%;
	height: 60px;
	background-color: #333333!important;
	position: fixed;
	z-index: 5;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.4);

}
a{
  text-decoration: none;
}
.page_header{
	width: 90%;
	height: 100%;
	margin: 0px auto;
	display: flex;
	align-items: center;

}
.header_lanuage_btn{
	width: 10%;
	height: 40px;
	position: absolute;
}
.header_lanuage_btn button{
	width: 100%;
	height: 100%;
	border: none;
	text-transform: uppercase;
	background-color: #02b3e4!important;
	cursor: pointer;
	box-shadow: none;
}
.logo{
	width: 20%;
	height: 60px;
	 margin: 0px auto;
  /*  background-color: black;*/
}
.nav_link{
	width: 30%;
	height: 40px;
	float: left;
}
nav{
	width: 100%;
	height: 100%;
    display: flex;
    align-items: center;
}
.nav{
	width: 33%;
	height:60%;
	border-right: 1px solid #f1f1f1;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
  transition-duration: .2s;
  color: #ffff;
  outline: none;
}
.search{
  width: 56%;
  height: 35px;
   margin: 0px auto;

    margin-left: 15%;
}
.search input{
  height: 100%;
  width: 55%;
  padding:10px;
  font-size: 15px;
  outline: none;
  border:none;

}
.search button{
  height: 100%;
  width: 16%;
  border: none ;
  background-color:#e9385a!important;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 2%;
}
